apiVersion: apps/v1
kind: Deployment
metadata:
  name:  blazerApp
  namespace: prod
  labels:
    app:  blazerApp
spec:
  selector:
    matchLabels:
      app: blazerApp
  replicas: 3
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app:  MYAPP
    spec:
      containers:
      - name:  blazerApp
        image:  MYAPP:latest
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort:  80
          name:  http
      restartPolicy: Always