apiVersion: v1
kind: Service
metadata:
  name: blazorapp-svc
  namespace: dev
spec:
  selector:
    app: blazorapp
  type: NodePort
  sessionAffinity: None
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080